
/*

.heading {
	font-size: 18px;
	color: white;
	font: bold;
	background-color: orange;
	border: thick;
	text-align: center;
}*/

tr {
	vertical-align: middle;
}

th {
	text-align: center;
}

td {
	text-align: center;
}

.top-buffer {
	margin-top:20px;
}

.drinksit-text {
	color: teal;
	text-align: center;
}

.drinksit-border {
	outline: 1px solid orange;
}