.row {
  padding-top: 5px;
}

/*tr {
	vertical-align: middle;
}*/

.table > thead > tr > th {
	text-align: center;
}

.table > tbody > tr > td {
	text-align: center;
	vertical-align: middle;
}

.drinksit-text {
	color: teal;
	text-align: center;
}