<div class="drinksit-text h1 container-fluid">
	DrinksIt
</div>

<div *ngIf="this._authService.getLoggedUser()" class="row top-buffer">
	<div class="btn-group btn-group-justified" role="group">
	  <div class="btn-group" role="group">
	    <button type="button" routerLink="/orders" routerLinkActive="active" class="btn btn-default">Orders</button>
	  </div>
	  <div class="btn-group" role="group">
	    <button type="button" routerLink="/bars" routerLinkActive="active" class="btn btn-default">Bars</button>
	  </div>
	  <div class="btn-group" role="group">
	    <button type="button" routerLink="/drinks" routerLinkActive="active" class="btn btn-default">Drinks</button>
	  </div>
	  <div class="btn-group" role="group">
	    <button type="button" routerLink="/users" routerLinkActive="active" class="btn btn-default">Users</button>
	  </div>
	  <div class="btn-group" role="group">
	    <button type="button" routerLink="/reports" routerLinkActive="active" class="btn btn-default">Reports</button>
	  </div>
	  <div class="btn-group" role="group">
	    <button type="button" routerLink="/qrcode" routerLinkActive="active" class="btn btn-default">QR code</button>
	  </div>
	</div>
</div>

<div class="row top-buffer">
	<router-outlet></router-outlet>
</div>

<div *ngIf="this._authService.isLoggedIn()" class="pull-right">
	<button type="submit" class="btn btn-default navbar-btn" (click)="this.logout()">Logout</button>
    <p *ngIf="user" class="navbar-text">{{ user.username }}</p>
</div>